.pushable {
  flex-grow: 1;
  display: flex ;
}

.pushable > .pusher {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 0px;
  transition: margin-left .5s ease;
}

.sidebar-wrapper {
  background-color: var(--sidebar-background-color) !important;
  display: flex !important;
  width: 100px !important;
}

/* Hover override*/
.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover{

  background-color: var(--highlight-color);

}

.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover{

  color:var(--primary-color);  

}

.sidebar-wrapper .sidebar-header {
  display: flex;
  color:var(--primary-color);  
  align-items: center;
  padding: 1em 0;
  flex-direction: column;
  box-shadow: 0 -1px 0 #404854 inset;
}


.sidebar-wrapper.ui.sidebar.menu .item {

  border-style: solid;
  border-width: 0.1px;
  border-color: var(--sidebar-border);

  display: flex;
  align-items: center;
  height: 90px;
  min-height: 90px;
  font-weight: 400;
  color:var(--primary-color);  
}

.sidebar-wrapper.ui.inverted.menu .active.item::before {
  content: '';
  width: 5px;
  height: 100%;
  color:var(--primary-color);  
}

.sidebar-wrapper.ui.sidebar.menu .item .icon {
  margin-right: 1em;
  color:var(--primary-color);  
}

.portal {
  display: flex;
  height: 100%;
  /* padding: 20px; */
  /* background: linear-gradient( 135deg, var(--orange-main) 0%, var(--orange-light) 100%); */
  background: white;
}

.pushable > .pusher {
  background: white;
}