.toolbar {
  border: none !important;
  border-bottom: 1px solid lightgray !important;
  display: inline-block;
  width: 100%;
  box-shadow: none !important ;
  border-radius: 0 !important;
}

.toolbar__header {
  margin: 5px auto !important;
}

.Segment__noBorder {
  border: none !important;
  display: inline-block;
  width: 100%;
  box-shadow: none !important ;
}

.useraccounts__button-delete {
  background-color: red !important;
  color: white !important;
}

.useraccounts__search {
  margin-left: 5px !important;
  margin-right: 0 !important;
}

.emptyUsersMessage {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.pagination {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  justify-content: center;
}

.pagination li {
  display: inline-block;
  padding: 3px;
  margin: 5px;
  color: black;
}

.pagination li:hover {
  cursor: pointer;
}

.pagination li:active {
  border: none;
}

.pagination li > a {
  border: none;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.pagination li > a:active {
  border: none;
}

.pagination li.active > a {
  border: none;
  font-weight: bold;
  color: blue;
}

.pagination li.active {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}
