.toolbar {
  border: none !important;
  border-bottom: 1px solid lightgray !important;
  display: inline-block;
  width: 100%;
  box-shadow: none !important ;
  border-radius: 0 !important;
}

.toolbar__header {
  margin: 5px auto !important;
}

.Segment__noBorder {
  border: none !important;
  display: inline-block;
  width: 100%;
  box-shadow: none !important ;
}

.useraccounts__button-delete {
  background-color: red !important;
  color: white !important;
}

.useraccounts__search {
  margin-left: 5px !important;
}

.emptyUsersMessage{
  display: flex;
  flex:1;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
}