@import "../../variables.less";

.header {
  display: flex !important;
  align-items: center;
  align-self: center;
  height: 100%;
}
.userslist__header {
  font-size: 22px !important;
  margin: auto 0px 0 !important;
}
.userslist__actions-dropdown {
  padding: 8px !important;
  border-radius: 4px;
  float: right;
  .basicStyle;
}

.basicStyle {
  background-color: @primary-color !important;
  color: @text-color !important;
}

.menu .item .dropdown__actions {
  padding: 5px !important;
  border-bottom: 1px solid lightgray;
}
.actionsgroup {
  float: right;
}
.actionsgroup button,
.actionsgroup .dropdown {
  .basicStyle;
}

.actionsgroup__button {
  padding: 0 5px 0px !important;
}
.actionsgroup__dropdown {
  padding: 10px !important;
}

.emptyusermsg {
  text-align: center;
}

.userswrapper {
  margin-top: 15px;
}
